In [1]:
import numpy as np 
import pandas as pd

from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
import os

In [3]:
working_dic= os.getcwd()
train_dic=working_dic+'/train.csv'
test_dic = working_dic+'/test.csv'
print(train_dic)

/content/train.csv

In [4]:
train_set = pd.read_csv(train_dic)
train_set.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test_set = pd.read_csv(test_dic)
test_set.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [20]:
x= train_set.loc[:, ~train_set.columns.isin(['Survived' ,'Embarked','Cabin','Fare', 'Ticket','Name','PassengerId'])]
x_test= test_set.loc[:, ~test_set.columns.isin(['Embarked','Cabin','Fare', 'Ticket','Name','PassengerId'])]
#data.loc[:, ~data.columns.isin(['name', 'food_id'])]
y = train_set['Survived']

In [7]:
print(x)
print(x_test)
print(y)

     Pclass     Sex   Age  SibSp  Parch
0         3    male  22.0      1      0
1         1  female  38.0      1      0
2         3  female  26.0      0      0
3         1  female  35.0      1      0
4         3    male  35.0      0      0
..      ...     ...   ...    ...    ...
886       2    male  27.0      0      0
887       1  female  19.0      0      0
888       3  female   NaN      1      2
889       1    male  26.0      0      0
890       3    male  32.0      0      0

[891 rows x 5 columns]
     Pclass     Sex   Age  SibSp  Parch
0         3    male  34.5      0      0
1         3  female  47.0      1      0
2         2    male  62.0      0      0
3         3    male  27.0      0      0
4         3  female  22.0      1      1
..      ...     ...   ...    ...    ...
413       3    male   NaN      0      0
414       1  female  39.0      0      0
415       3    male  38.5      0      0
416       3    male   NaN      0      0
417       3    male   NaN      1      1

[418 rows x 5 columns]
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [36]:
x[x['Sex']=='male']=0
x[x['Sex']=='female']=1
x_test[x_test['Sex']=='male']=0
x_test[x_test['Sex']=='female']=1

<ipython-input-36-530d704c751a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[x['Sex']=='male']=0
/usr/local/lib/python3.9/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-36-530d704c751a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[x['Sex']=='female']=1
<ipython-input-36-530d704c751a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[x_test['Sex']=='male']=0
<ipython-input-36-530d704c751a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[x_test['Sex']=='female']=1

In [37]:
print(x)

     Pclass Sex  Age  SibSp  Parch
0         0   0  0.0      0      0
1         1   1  1.0      1      1
2         1   1  1.0      1      1
3         1   1  1.0      1      1
4         0   0  0.0      0      0
..      ...  ..  ...    ...    ...
886       0   0  0.0      0      0
887       1   1  1.0      1      1
888       1   1  1.0      1      1
889       0   0  0.0      0      0
890       0   0  0.0      0      0

[891 rows x 5 columns]

In [38]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
lr = LogisticRegression(solver='lbfgs', max_iter= 1000000)
lr.fit(X_train, y_train)
y_predict = lr.predict(X_test)
print("Accuracy %.2f" %metrics.accuracy_score(y_test, y_predict))

Accuracy 0.83

In [41]:
output = pd.DataFrame({'PassengerId': test_set.PassengerId, 'Survived': test_nature})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [43]:
test_nature=(lr.predict(x_test))

Scaling the data

In [46]:
mean_= x.mean(axis=0)

In [47]:
print(mean_)

Pclass    0.352413
Sex       0.352413
Age       0.352413
SibSp     0.352413
Parch     0.352413
dtype: float64

In [48]:
std_=x.std()

In [49]:
print(std_)

Pclass    0.47799
Sex       0.47799
Age       0.47799
SibSp     0.47799
Parch     0.47799
dtype: float64

In [50]:
x=(x-mean_)/std_

In [51]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
lr = LogisticRegression(solver='lbfgs', max_iter= 1000000)
lr.fit(X_train, y_train)
y_predict = lr.predict(X_test)
print("Accuracy %.2f" %metrics.accuracy_score(y_test, y_predict))

Accuracy 0.78

In [52]:
mean_= x_test.mean(axis=0)
std_=x_test.std()
x_test= (x_test- mean_)/std_
print(x_test)

       Pclass       Sex       Age     SibSp     Parch
0   -0.755024 -0.755024 -0.755024 -0.755024 -0.755024
1    1.321292  1.321292  1.321292  1.321292  1.321292
2   -0.755024 -0.755024 -0.755024 -0.755024 -0.755024
3   -0.755024 -0.755024 -0.755024 -0.755024 -0.755024
4    1.321292  1.321292  1.321292  1.321292  1.321292
..        ...       ...       ...       ...       ...
413 -0.755024 -0.755024 -0.755024 -0.755024 -0.755024
414  1.321292  1.321292  1.321292  1.321292  1.321292
415 -0.755024 -0.755024 -0.755024 -0.755024 -0.755024
416 -0.755024 -0.755024 -0.755024 -0.755024 -0.755024
417 -0.755024 -0.755024 -0.755024 -0.755024 -0.755024

[418 rows x 5 columns]

In [53]:
test_nature=(lr.predict(x_test))

In [54]:
output = pd.DataFrame({'PassengerId': test_set.PassengerId, 'Survived': test_nature})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!